/** @format */

.App {
    margin: 0 auto;
    max-width: 400px;
}

.List ul {
    list-style: none;
    padding: 0;
}

.Checkbox input {
    zoom: 1.5;
}

.Checkbox span {
    font-family: "Poppins", sans-serif;
    font-size: 22px;
}

.Checkbox del {
    opacity: 0.4;
}